*,
::before,
::after {
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: clamp(1rem, 0.7368rem + 1.4035vw, 1.2rem);
}

body {
  font-family: 'Courier New', Courier, monospace;
}

h2 {
  color: rgb(0, 0, 0);
  font-size: clamp(1rem, 1.0974rem + 0.2807vw, 2rem);
}

.InformationContainer {
  display: flex; 
  flex-direction: column;
  gap: 10rem;
  justify-content: center;
  align-items: center;
  

}