*,
::before,
::after {
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

h2 {
  color: rgb(0, 0, 0);
  font-size: 2rem;
}

.InformationContainer {
  display: flex; 
  flex-direction: column;
  gap: 10rem;
  border: 2px rgb(48, 4, 221) solid;
  justify-content: center;
  align-items: center;
  

}