ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 3rem;
    margin-right: 3rem;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.25rem;
}

.header {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
    padding: .5rem;
}