:root {
    --primary: #9ec096;
      --secondary: #292929;
      --tertiary: #494D48;
      --white: #ffffff;
  }
  
ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 3rem;
    margin-right: 3rem;
}

a {
    color: var(--primary);
    font-size: 1.25rem;
    text-decoration: none;
}

.header {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
    padding: .5rem ;
    height: 12vh;
    background-color: var(--tertiary);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 570px) { 

    ul {
        justify-content: center;
    }

}