.introductionFlexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.introductionContainer {
    display: flex;
    height: 90vh;
    width: 70vw;
    flex-direction: row;
    gap: 4rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.introductionContainer p {
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 3rem;
    align-items: baseline;
    line-height: 1.6;
}

.img {
    width: 13rem;
    height: 13rem;
    object-fit: cover;
	object-position: 100%;
    border-radius: 100%;
}

.span {
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
    
}

.link {
    text-decoration: underline black 3px;
    
}

@media screen and (max-width: 1024px) {
    .introductionContainer {
        gap: 3rem;
        width: 90vw;
    }
}

@media screen and (max-width: 850px) {
    .introductionContainer {
        flex-wrap: wrap;
        height: auto;
        width: 80vw;
        gap: 0;
        margin: 3rem 0 6rem;
    }
}

@media screen and (max-width: 570px) {
    .introductionContainer {
        display: flex;
    }
}

@media screen and (max-width: 395px) {
    .introductionContainer {
        height: auto;
    }
 }