.websitepreview {
width: 50%;
}

.projectContainer {
    display: flex;
    flex-direction: row-reverse;
}

.contentInformation {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
   
}