.link {
    text-decoration: underline black;
    color: rgb(0, 0, 0);
    font-size: 1.25rem;
}

.websitepreview {
width: 50%;
}

.projectsContainer {
    display: flex;
    flex-direction: row-reverse;
    width: 70vw;
}

.contentInformation {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    font-size: 1.2rem;
}

@media screen and (max-width: 1024px) { 
    .projectsContainer {
        width: 90vw;
    }
}

@media screen and (max-width: 850px) { 
    .projectsContainer {
        justify-content: center;
        align-items: center;
    
    }

}

@media screen and (max-width: 570px) { 

    .projectsContainer {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        width: 90vw;
    }

    .websitepreview {
        width: 100%;
    }
    
} 