:root {
    --primary: #9ec096;
    --secondary: #292929;
    --tertiary: #494D48;
    --white: #ffffff;
      }

.technologyContainer {
    display: flex;
    flex-direction: row-reverse;
    width: 73vw;
    background-color: var(--tertiary);
    padding: 1rem;
}
.contentInformation {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    font-size: 1.2rem;
    gap: 2rem;
}

.logo {
    filter: invert(83%) sepia(33%) saturate(253%) hue-rotate(63deg) brightness(84%) contrast(87%);
}

@media screen and (max-width: 1024px) { 
    .technologyContainer {
        width: 90vw;
    }
}

@media screen and (max-width: 850px) { 
    .technologyContainer {
      width: 90vw;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap-reverse;
      
    }

    .contentInformation {
        align-items: flex-start;  
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 627px) { 
    .logo {
        width: 34%;
    }
}