.technologyContainer {
    display: flex;
    flex-direction: row-reverse;
    border: 2px red solid;
    width: 80vw;
}
.contentInformation {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    font-size: 1.2rem;
}

@media screen and (max-width: 1024px) { 
    .technologyContainer {
        width: 90vw;
    }
}

@media screen and (max-width: 850px) { 
    .technologyContainer {
      width: 90vw;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap-reverse;
      
    }

    .contentInformation {
        align-items: flex-start;  
        flex-wrap: wrap;
        border: 2px green solid;
    }
}

@media screen and (max-width: 627px) { 
    .logo {
        width: 34%;
    }
}