:root {
    --primary: #9ec096;
    --secondary: #292929;
    --tertiary: #494D48;
    --white: #ffffff;
      }

.workExperienceContainer {
    display: flex;
    flex-direction: row-reverse;
    width: 70vw;
    background-color: var(--tertiary);
    padding: 1rem;
}

.contentInformation {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    font-size: 1.2rem;
    gap: 1rem;
}

.contentInformation p {
    font-size: 2rem;
    gap: 1rem;
}

.workExperienceContent {
  
   display: flex;
   flex-direction: column;
   font-size: 1.2rem;
   gap: 1rem;
}

.jobInformation {
    flex-direction: column;
    gap: 2rem;
}

@media screen and (max-width: 1024px) { 
    .workExperienceContainer {
        width: 90vw;
        gap: 1rem;
    }
}

@media screen and (max-width: 850px) { 
    .workExperienceContainer {
        flex-direction: column-reverse;
    }
}